body {
    display:block;
    margin:auto;
    color: darkmagenta; 
    background-color: darksalmon;
    background-size: cover;
    font-family: BlinkMacSystemFont,;
    font-weight: bold;
    text-align: center;
    width: 370px;
    margin-top:30px;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    margin:auto;
    display: block;
    margin-left:auto;
    margin-right:auto;
    font-style: oblique;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: oblique;
}

p {
    margin-top: 20px;
    margin-bottom: 10px;
    display: block;
    margin-left:auto;
    margin-right:auto;
    font-style: oblique;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: normal;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: oblique;
    font-size: 30px;
    color:antiquewhite
}

#increment-btn {
    background: blueviolet;
}

#save-btn {
    background: palevioletred;
}

